@import "reset.css";

@font-face {
  font-family: "FUTURA Reg";
  font-weight: auto;
  src: url(font/FuturaBookC.ttf)
  format('truetype');
}
@font-face {
  font-family: "FUTURA BOLD";
  font-weight: auto;
  src: url(font/FuturaDemiC.ttf)
  format('truetype');
}
@font-face {
  font-family: "Five years";
  font-weight: auto;
  src: url(font/FYLDemo.otf)
  format('opentype');
}
@font-face {
  font-family: "Hagrid Regular";
  font-weight: auto;
  src: url(font/Hagrid-Regular.ttf)
  format('truetype');
}

:root {
  --orange: #E26B13;
}

body{
  overflow-x: hidden;
  background-color: #000;
}
h1, h2, p, li, a{
 color: #fff;
}
h1{
  font-size: 3vw;
  font-family: "FUTURA BOLD", helvetica, sans-serif;
}
h2{
  font-size: 2vw;
  font-family: "FUTURA BOLD", helvetica, sans-serif;
}
p, li{
  font-size: 1.3vw;
    font-family: "FUTURA reg", helvetica, sans-serif;
}
a, h3{
  font-size: 1.5vw;
  font-family: "Five years", helvetica, sans-serif;
  text-decoration: none;
}

ul li{
  list-style-type: none;
}
header{
  position: absolute;
  margin: 3vw;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: baseline;
}
header img{
  width: 20vw;
}
header nav{
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin-left: 15vw;
  align-items: baseline;
}

/* header nav .underline{
  position: absolute;
  background-color: #fff;
  width: 9.1vw;
  height: 0.15vw;
  margin-top: 1.5vw;
  left: 10vw;
} */

header nav a{
  margin-left: 10vw;
  padding-top: -2vw;
}
header nav a:hover{
  color: var(--orange);
}
/* a:hover{
  cursor: pointer;
  opacity: 0.7;
  transition: 200ms ease;
} */


footer{
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 10vw;
}
footer ul li{
  padding-top: 1vw;
}
footer > img{
  position: absolute;
  z-index: -2;
  margin-left: 70vw;
  margin-top: -20vw;
  width: 30vw;
}
footer .third-column img{
  height: 2vw;
  width: auto;
  padding-left: 1vw;
}



@media (max-width: 520px) {
  h2{
    font-size: 5vw;
  }
  p, li{
    font-size: 4vw;
  }
  a, h3{
    font-size: 3.5vw;
  }

  header{
    display: flex;
    align-items: flex-start;
    padding-top: 5vw;
  }
  header img{
   width: 40vw;
   margin-left: 5vw;
  }
  header nav{
    flex-flow: column;
    margin-left: 0vw;
    margin-top: 0vw;
  }
  header nav a{
    margin-left: 20vw;
    padding-top: 1.5vw;
    text-align: right;
  }

footer{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 15vw;
  line-height: 1.3;
}
  footer > img{
    margin-left: 30vw;
    margin-top: -5vw;
    width: 70vw;
  }
    footer .second-column,
    footer .third-column{
      margin-top: 4vw;
    }
  footer .third-column img{
    height: 7vw;
    width: auto;
    padding-left: 3vw;
  }
}
@media (max-width: 414px) {
  a, h3{
    font-size: 4vw;
  }

  header img{
   width: 50vw;
   margin-left: 5vw;
  }
  header nav a{
    margin-left: 10vw;
    padding-top: 1.5vw;
  }

footer{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 15vw;
}
}
